# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native build folders
ios/
android/

# Environment files
.env*.local

# Editor
.vscode/

# Misc
*.log
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/README.md
*.ipa
*.dSYM.zip
build/
