apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: postgres
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: postgres
  template:
    metadata:
      labels:
        io.kompose.service: postgres
    spec:
      containers:
        - env:
            - name: POSTGRES_DB
              value: ushadow
            - name: POSTGRES_PASSWORD
              value: ushadow
            - name: POSTGRES_USER
              value: ushadow
          image: postgres:16-alpine
          name: postgres
          ports:
            - containerPort: 5432
              protocol: TCP
      restartPolicy: Always
